.odh-notes {
  font-family: "Lato", Helvetica, Arial, "Microsoft Yahei", Sans-serif;
  font-size: 14px;
  text-align: left;
  color: #34495e;
  line-height: 1.5em;
  min-height: 1.5em;
  margin: 8px;
  border-radius: 3px;
  box-sizing: border-box;
  /* color: #f66; */
}

.odh-notes strong,
.odh-notes b {
  font-family: "PT Serif", serif;
}

.odh-note {
  margin: 5px 0;
  padding: 0px;
  /*border: 1px dashed red;*/
}

.odh-headsection {
  margin: 3px 0;
  padding: 0 3px 3px;
}

.odh-expression {
  font-family: "PT Serif", serif;
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 4px;
}

.odh-reading {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 4px;
  font-size: 0.9em;
  display: inline-block;
}

.odh-extra {
  margin-right: 4px;
  display: inline-block;
}

.odh-definition,
.odh-sentence {
  display: block;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: 3px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.6em 0.6em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125);
}
#odh-context {
  font-family: "Open Sans", Helvetica, Arial, "Microsoft Yahei", Sans-serif;
  background: #fffff4;
  margin: 0;
  width: 96%;
  height: 100px;
}
.odh-sentence {
  border: 2px dashed #d0d1d5;
  padding: 0;
}

.odh-addnote-disabled,
.odh-addnote {
  margin-left: 3px;
  cursor: pointer;
  position: relative;
  float: right;
  width: 20px;
  height: 20px;
}

.odh-addnote-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.odh-audios {
  position: relative;
  display: flex;
  justify-content: center;
  float: right;
}

.odh-playaudio {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 0 3px;
}

.odh-playsound {
  vertical-align: text-bottom;
  margin: 0 3px;
}

hr {
  border: 1px;
  margin: 5px 0;
  border-top: 1px solid #d5d5d5;
}

.hidden {
  display: none;
}

.highlight {
  /*font-weight       : bold;*/
  font-size: 0.9em;
  border-radius: 4px;
  color: #fff;
  padding: 1px 2px;
  margin-right: 3px;
  text-decoration: none;
  text-align: center;
}
